*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  color: white;
  background: #1e1e1e;
}

.header{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
  color: aqua;
}

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(67, 65, 65);
  position: relative;
  height: 70px;
}

nav ul{
  display: flex;
  gap: 60px;
}

nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: aqua;
}
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none; 
  color: aqua;
}
.loginbtn{
  outline: none;
  background-color: aqua;
  text-decoration: none;
  width: 50px;
  height: 25px;
  color: black;
  border-radius: 8px;
  cursor: pointer;
}
nav ul li:hover{
  text-decoration: underline;
  color: aqua;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.show {
    display: flex; 
  }

  .menu-icon {
    display: block; 
  }
}