*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}

.header{
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
  color: aqua;
}

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(67, 65, 65);
  position: relative;
  height: 70px;
}

nav ul{
  display: flex;
  gap: 60px;
}

nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: aqua;
}
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none; 
  color: aqua;
}
@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.show {
    display: flex; 
  }

  .menu-icon {
    display: block; 
  }
}


 /* section image */

.sectionimg{
    position: relative;
    background: url(./image/wed.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    color: white;

}

.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 1005;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.seccontent{
    position: relative;
    z-index: 2;
    max-width: 700px;
    opacity: 0;
    transform: translateY(40px);
    animation: fade 1.5s ease-out forwards;
}

@keyframes fade {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.tag{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.seccontent h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;

}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.btnbtn{
    background: #c335d7;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 768px) {
   .seccontent h1{
    font-size: 30px;
   }

}

@media (max-width: 480px) {
    .seccontent{
        font-size: 24px;
    }

    .tag{
        font-size: 15px;
    }
}

/* section img  */
.bodybox{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #555;
}

.containercont{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
    gap: 30px;
}

.eventimg{
    width: 30%;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1) ;
}

.welcome{
    flex: 1;
    padding: 40px;

}

.welcome h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.spann{
    color: #dc143c;
}

.welcome p{
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.readbtn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #dc143c;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

}

.readbtn:hover{
    background: #dc143c;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .containercont{
        flex-direction: column;
        text-align: center;

    }
    .eventimg{
        width: 50%;

    }
    .containercont h1{
        font-size: 25px;
    }

    .containercont p{
        font-size: 15px;
    }
}
/* services  */
.main1{
    background: url(./image/img2.jpg) no-repeat center center/cover;
    color: white;

}
.services1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
}

.left{
    flex: 1;
    padding-right: 30px;
}

.left h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.span2{
    color: red;
}
.subpara{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.mainpara{
    font-size: 15px;
    line-height: 1.5;
}
.right{
    flex: 1;

}
.item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.item p i{
    padding: 30px;
    width: 30px;
    margin-right: 15px;
}
.item h3{
    margin: 0;
    padding: 30px;
    font-size: 30px;

}
.item p{
    padding: 30px;
    font-size: 18px;
    line-height: 1.4;
}
/* service  */
.service{
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}
.span2 {
    color: #d62828; 
}
.sertext h1 {
    font-size: 28px;
    font-weight: bold;
}
.sertext p {
    max-width: 800px;
    margin: 10px auto 40px;
    font-size: 16px;
    color: black;
}

.sertext h4{
    max-width: 800px;
    margin: 10px auto 40px;
    font-size: 16px;
    color: #555;
}
.infoservice{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 50px 20px;
    flex-wrap: wrap;
}
.imageservices{
    text-align: center;
    max-width: 300px;
}
.imageservices img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: tranform 0.8s ease, box-shadow 0.8s;
}
.imageservices img:hover {
    transform:scale(1.05);
}
.imageservices p{
    color: gray;
}
@media (max-width: 768px) {
    .infoservice {
        flex-direction: column;
        align-items: center;
    }
}
.event{
    position: relative;
    background: url(./image/img1.jpg) no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.full{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 55px;
    text-align: center;

}

.eventconent{
    max-width: 800px;
    
    
    
}
.hea1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
    

}
/* section photos */

.swiper {
    width: 50%;
    height: 70%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.swiper-slide img:hover{
    cursor: pointer;
}

.organised h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;

}

.spann3{
    color: #dc143c;
}
@media(max-width: 768px) {
    .organised h2{
        font-size: 25px;
    }
}
/* section news */

.bodynews{
    background-color: white;
    color: #555;
}

.news{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;

}

.news h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;

}

.spann1{
    color: #dc143c;
}
.intro{
    text-align: center;
    margin-bottom: 40px;
    color: #555;

}

.newscontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.eventnews img{
    width: 100%;
    height: 250px;
    display: block;
}

.eventnews{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.eventnews:hover{
    transform: translateY(-5px);
}

.eventinfo{
    padding: 15px;

}

.eventinfo h3{
    font-size: 14px;
    margin-bottom: 8px;
    color: #dc143c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventinfo p{
    font-size: 15px;
    color: #555;
    display: flex;
    
}

@media (max-width: 992px) {
    .newscontainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .news h2 {
        font-size: 28px;
    }

    .eventnews img {
        height: 220px;
    }
}

@media (max-width: 600px) {
    .newscontainer {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .news {
        padding: 20px 10px;
    }

    .news h2 {
        font-size: 24px;
    }

    .eventnews img {
        height: 200px;
    }

    .eventinfo h3 {
        font-size: 16px;
    }

    .eventinfo p {
        font-size: 14px;
    }
}

.bottom{
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    border-top: 1px solid gray;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    left: 95px;
}



.bottom p{
    font-size: 14px;

}
.icons a{
    margin: 0 8px;
    font-size: 18px;
    transition: color 0.3s;

}
.icons a:hover{
    cursor: pointer;
    color: #B12C00;
}



