*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
    color: white;
    background: #1e1e1e;
}

.header{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
  color: aqua;
}

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(67, 65, 65);
  position: relative;
  height: 70px;
}

nav ul{
  display: flex;
  gap: 60px;
}

nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: aqua;
}
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none; 
  color: aqua;
}
.loginbtn{
  outline: none;
  background-color: aqua;
  text-decoration: none;
  width: 50px;
  height: 25px;
  color: black;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.show {
    display: flex; 
  }

  .menu-icon {
    display: block; 
  }
}
/* section Login */

body{
  background: linear-gradient(135deg,#0b0f1a,#12182a);
  height:100vh; 
  display:flex; 
  justify-content:center;
  align-items:center;
  overflow:hidden; 
  color:#fff;
}

.card{
  background: rgba(255,255,255,.08);
  backdrop-filter: blur(12px);
  border:1px solid rgba(255,255,255,.2);
  border-radius:20px;
  padding:40px 30px;
  width:350px;
  box-shadow:0 8px 25px rgba(0,0,0,.5);
  text-align:center;
}


.card1 h1{
  font-size:26px;
  margin:10px 0;
}

.subtitle{
    font-size:14px;
    color:#aaa;

}


.form{
    margin-top:20px;
}
.field{
    position:relative;
    margin:20px 0;
}


.field input{
  width:100%; 
  padding:15px 40px; 
  border:none; 
  border-radius:12px;
  background:rgba(0,0,0,.4); 
  color:#fff; 
  font-size:14px;
  outline:none;

}

.field label{
  position:absolute;
  left:40px;
  top:50%;
  transform:translateY(-50%);
  color:#aaa;
  transition:.3s;
  font-size:14px;
  pointer-events:none;
}

.field input:focus + label,
.field input:not(:placeholder-shown)+label{
  top:0;
  left:30px;
  font-size:12px;
  color:#cfd6ff;
  background:#0b0f1a;
  padding:0 4px;

}
.field i{
    position:absolute;
    left:12px;
    top:50%;
    transform:translateY(-50%);
    color:#ccc;

}

.row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:13px
    ;margin-bottom:20px;

}


.remember{
    color:#aaa;

}


.link{
    color:#8a4bff;
    text-decoration:
    none;

}

.link:hover{
    text-decoration:underline;
}


.btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#8a4bff,#00d1ff);
  color:#fff;
  font-weight:600;
  cursor:pointer;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  transition:.3s;
}

.btn:hover{
    filter:brightness(1.1);

}
.small{
    margin-top:15px;
    font-size:13px;
    color:#aaa;}

