*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
}
body{
  color: white;
  background: #1e1e1e;
}

.header{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
  color: aqua;
}

nav{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(67, 65, 65);
  position: relative;
  height: 70px;
}

nav ul{
  display: flex;
  gap: 60px;
}

nav ul li{
  list-style-type: none;
}
nav ul li a{
  text-decoration: none;
  color: aqua;
}
.menu-icon {
  font-size: 28px;
  cursor: pointer;
  display: none; 
  color: aqua;
}
.loginbtn{
  outline: none;
  background-color: aqua;
  text-decoration: none;
  width: 50px;
  height: 25px;
  color: black;
  border-radius: 8px;
  cursor: pointer;
}
nav ul li:hover{
  text-decoration: underline;
  color: aqua;
}

@media (max-width: 768px) {

  .header{
    width: 100%;
  }
  .nav-links {
    display: none; 
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
  }

  .nav-links.show {
    display: flex; 
  }

  .menu-icon {
    display: block; 
  }
}

@media (max-width: 520px){
  .header{
    width: 95%;
  }
}

@media (max-width: 320px){
  .header{
    width: 91.4%;
  }
}

@media (max-width: 375px){
  .header{
    width: 91.4%;
  }
}





.headmain{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./image/./contact.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  flex-wrap: wrap;
  position: relative;
}


.hero::before,
.hero::after {
  content: "✦";
  position: absolute;
  font-size: 20px;
  color: #d6bba5;
  opacity: 0.6;
}

.hero::before {
  top: 20%;
  left: 5%;
}

.hero::after {
  bottom: 15%;
  right: 10%;
}


.maintext {
  flex: 1 1 45%;
  max-width: 500px;
  position: relative;
}

.maintext h4 {
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 15px;
}

.maintext h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #E4004B;
}

.maintext p {
  font-size: 15px;
  margin-bottom: 25px;
  color: white;
}

.btn {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid #555;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.image-box {
  flex: 1 1 45%;
  text-align: center;
  position: relative;
}

.image-box img {
  width: 100%;
  max-width: 450px;
  border-radius: 30px;
  border: 3px solid #ddd;
  background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
}

.image-box img {
  border: 3px solid transparent;
  border-radius: 20px;
  padding: 6px;
  background: linear-gradient(
    90deg,
    red,
    blue,
    red,
    blue
  );
  background-size: 400% 400%;
  animation: neonGlow 8s linear infinite;
  box-shadow: 0 0 15px rgba(0,0,0,0.6); 
}


@keyframes neonGlow {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.img-content{
  border-radius: 20px;
  margin-left: 75px;
  width: 75%;
  height: 99%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: 0.6s;
}

.img-content:hover{
  opacity: 1;
}

.img-content h1{
  color: #dc143c;
  line-height: 1.5;
}

.img-content{
  transform: translateY(10px);
  transition: 0.6s;

  
}
.img-content:hover{
  transform: translateY(0px);
}



/* Footer */
.footter {
  margin-top: 53px;
  text-align: center;
  padding: 30px;
  font-size: 14px;
  color: #777;
  background: #f3f3f3;
}

.footter .social {
  margin-top: 10px;
  font-size: 16px;
}

.footter .social i {
  width: 75px;
  margin-right: 5px;
  opacity: 0.7;
  transition: 0.3s;
  font-size: 20px;
}

.footter .social a img:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 40px 7%;
    text-align: center;
  }

  .maintext {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .maintext h1 {
    font-size: 36px;
  }

  .maintext p {
    font-size: 15px;
  }

  .image-box {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .image-box img {
    max-width: 80%;
  }

  .img-content {
    margin-left: 24px;
    width: 80%;
    height: 96%;
  }
}

@media (max-width: 375px) {
  .img-content{
    margin-left: 32px;
    height: 97.5%;
    width: 80.2%;
  }

  .img-content p{
    font-size: 13px;
  }
}





/* .textbox h1{
  font-size: 52px;
  color: White;
  text-shadow: 0 0 5px #ff0000 ;
  text-shadow: 0 0 40px #ff0000 ;
  text-shadow: 0 0 60px #ff0000 ;
  text-shadow: 0 0 20px #ff0000 ;
  text-shadow: 0 0 10px #ff0000 ;
  text-shadow: 0 0 15px #ff0000 ;

  
  font-size: 3rem;
  background: linear-gradient(90deg, #fff, #9c9797, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s infinite linear;
}

@keyframes glow {
  0% { filter: drop-shadow(0 0 5px rgb(215, 91, 91)); }
  50% { filter: drop-shadow(0 0 20px red); }
  100% { filter: drop-shadow(0 0 5px rgb(215, 91, 91)); }
}


  font-size: 48px;
  background: linear-gradient(90deg, white, #fff, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s infinite linear;
}

@keyframes glow {
  0%   { filter: drop-shadow(0 0 5px #ff0000); }
  50%  { filter: drop-shadow(0 0 20px #ff4d4d); }
  100% { filter: drop-shadow(0 0 5px #ff0000); }
}

.corner {
  position: absolute;
  font-size: 40px;
  opacity: 0.8;
}
.flower-top-left { 
  top: 70px; 
  left: 10px;
  animation: glows 3s infinite linear; 

}
.flower-top-right {
  top: 70px; 
  right: 10px;
  animation: glows 3s infinite linear; 
}
.flower-bottom-left { 
  bottom: 10px; 
  left: 10px;
  animation: glows 3s infinite linear; 
}
.flower-bottom-right {
  bottom: 10px; 
  right: 10px;
  animation: glows 3s infinite linear; 
}

@keyframes glows {
  0%   { filter: drop-shadow(0 0 5px white); }
  50%  { filter: drop-shadow(0 0 20px #ff4d4d); }
  100% { filter: drop-shadow(0 0 5px white); }
}



.textbox p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;
  
}

.textbtn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.textbtn:hover{
  border: 1px solid #d62828;
  background: #d62828;
  transition: 1s;
}


@media (max-width: 768px) {
  .textbox h1 {
    font-size: 36px;  
  }

  .textbox p {
    font-size: 14px;   
    margin: 8px 0 30px;
  }

  .textbtn {
    padding: 10px 28px;
    font-size: 12px;
  }
}


@media (max-width: 480px) {
  .textbox {
    width: 100%;
    padding: 0 10px;   
  }

  .textbox h1 {
    font-size: 26px;   
    line-height: 1.3;
  }

  .textbox p {
    font-size: 12px;
  }

  .textbtn {
    padding: 8px 20px;
    font-size: 11px;
  }
}

.petals span {
  position: absolute;
  top: -50px;
  font-size: 24px;
  animation: fall 5s linear infinite;
  color: pink;
} */

/* Different positions + delays */
/* .petals span:nth-child(1) { left: 5%; animation-delay: 0s; font-size: 28px; }
.petals span:nth-child(2) { left: 15%; animation-delay: 2s; font-size: 22px; }
.petals span:nth-child(3) { left: 25%; animation-delay: 4s; font-size: 26px; }
.petals span:nth-child(4) { left: 35%; animation-delay: 6s; font-size: 20px; }
.petals span:nth-child(5) { left: 45%; animation-delay: 1s; font-size: 30px; }
.petals span:nth-child(6) { left: 55%; animation-delay: 3s; font-size: 24px; }
.petals span:nth-child(7) { left: 65%; animation-delay: 5s; font-size: 28px; }
.petals span:nth-child(8) { left: 75%; animation-delay: 7s; font-size: 22px; }
.petals span:nth-child(9) { left: 85%; animation-delay: 4.5s; font-size: 26px; }
.petals span:nth-child(10) { left: 95%; animation-delay: 6.5s; font-size: 20px; }

@keyframes fall {
  0%   { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}


@media (max-width: 768px) {
  .petals span {
    font-size: 18px;   
    top: -40px;
  }

  .petals span:nth-child(1),
  .petals span:nth-child(2),
  .petals span:nth-child(3),
  .petals span:nth-child(4),
  .petals span:nth-child(5),
  .petals span:nth-child(6),
  .petals span:nth-child(7),
  .petals span:nth-child(8),
  .petals span:nth-child(9),
  .petals span:nth-child(10)
   
{
    font-size: 18px;  
  }
}


@media (max-width: 480px) {
  .petals span {
    font-size: 14px;   
    top: -30px;
    animation: fall 7s linear infinite; 
  }

  
  .petals span:nth-child(1) { left: 10%; }
  .petals span:nth-child(2) { left: 25%; }
  .petals span:nth-child(3) { left: 40%; }
  .petals span:nth-child(4) { left: 55%; }
  .petals span:nth-child(5) { left: 70%; }
  .petals span:nth-child(6) { left: 85%; }
} */

/* section section */

/* section{
  padding: 32px 9%;
}
.event{
  position: relative;
  background: url(./image/contact.jpg) no-repeat center center/cover;
  height: 100vh;
  color: white;
}



.content{
  text-align: center;
  padding-top: 5px;
  margin: 32px auto;
  max-width: 1120px;
  text-shadow: 0 0 5px #ffa500 ;
  text-shadow: 0 0 15px #ffa500 ;
  text-shadow: 0 0 20px #ffa500 ;
  text-shadow: 0 0 40px #ffa500 ;
  text-shadow: 0 0 60px #ffa000 ;
  text-shadow: 0 0 10px #ffa000 ;
    

}
.content h3{
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  

}


.btn {
  margin-top: 15px;
  display: inline-block;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 50px;
  background: aqua;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: linear-gradient(135deg, #00f2fe, #4facfe);
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.08); }
  100% { transform: scale(1); }
}

.btn:active {
  animation: pulse 0.3s;
}

.content a{
  text-decoration: none;
}

.swiper {
  width: 40%;
  height: 300px;
  padding: 50px 0;
}
.swiper-slide {
  background: #fff;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 992px) {
  .swiper {
    width: 70%;
    height: 300px;
  }
  .swiper-slide {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 600px) {
  .swiper {
    width: 90%;
    height: 250px;
    padding: 30px 0;
  }
  .swiper-slide {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 400px) {

  .swiper {
    width: 100%;
    height: 220px;
  }
  .swiper-slide {
    width: 160px;
    height: 160px;
  }
} */


/* section welcome */


.welcome{
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}
.text h2{
  font-size: 28px;
  font-weight: bold;

}

.span1{
  color: #dc143c;
}
.text p{
  max-width: 800px;
  margin: 10px auto 40px;
  font-size: 16px;
  color: #fff;
}
.features{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  flex: 1 1 250px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.box:hover{
  transform: translateY(-5px);

}
.box i{
  font-size: 28px;
  color: #dc143c;
  margin-bottom: 10px;
}
.box h3{
  font-size: 20px;
  margin-bottom: 10px;
}
.box p{
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}
.box a{
  text-decoration: none;
  font-weight: bold;
  color: #dc143c;
}
.box a:hover{
  text-decoration: underline;
}
.read {
  background-color: #dc143c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 1; 
}

.read::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: transform 0.6s ease-out;
  z-index: 0; 
}



.read:hover {
  background-color: #dc143c;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(214, 40, 40, 0.4);
}

.read:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}
@media (max-width: 768px) {
  .features{
    flex-direction: column;
    align-items: center;
  }
}

/* section services */
.service{
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}
.span2{
  color: #dc143c;
}
.sertext h1{
  font-size: 28px;
  font-weight: bold;
}
.sertext p{
  max-width: 800px;
  margin: 10px auto 40px;
  font-size: 16px;
  color: #fff;
}
.sertext h4{
  max-width: 800px;
  margin: 10px auto 40px;
  font-size: 16px;
  color: #fff;
}
.infoservice{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 20px;
  flex-wrap: wrap;
}
.imageservices{
  text-align: center;
  max-width: 300px;
}
.imageservices img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: tranform 0.8s ease, box-shadow 0.8s;
}
.imageservices img:hover{
  transform: scale(1.05);

}
.imageservices p{
  color: gray;
}
@media(max-width: 768px) {
  .infoservice{
    flex-direction: column;
    align-items: center;
  }
}
/* service gallery */

.span3{
  color: #dc143c; 
}
.gallery{
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}
.imgimg{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
    
}
.imgimg img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  transition: tranform 0.8s ease, box-shadow 0.8s;
}

.imgimg img:hover {
  transform:scale(1.05);
  transition: 2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.contact{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}
.contactbox {
  background-color: #1ab3a5;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.contactbox h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
}
.contactbox p {
  font-size: 16px;
  margin-bottom: 25px;
}
.contactbtn {
  background-color: #ff4d4d;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  }
   
 .contactbtn:hover {
  background-color: #e63c3c;
}
.contactpro{
  font-size: 15px;
  font-weight: bold;
}
    
.span4 {
  color: #dc143c; 
}
.contactpro h1{
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
    
}

/* section footer  */

footer{
  padding: 40px 20px;
}
.footer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.foottext h3{
  margin-bottom: 15px;
  font-size: 18px;
}

.foottext ul{
  list-style: none;

}


.foottext ul li{
  margin-bottom: 10px;
}
.foottext ul li:hover{
  color: #B12C00;
  cursor: pointer;
}
.aa{
  text-decoration: none;
  background-color: #B12C00;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: white;
  font-weight: 600;
}
.subscribe p.sub{
  color: #B12C00;
  margin-top: 15px;
}

.subscribe form{
  display: flex;

}

.subscribe input{
  padding: 10px;    
  width: 70%;
  border-radius: 4px 0 0 4px;
}
.subscribe button{
  background-color: #B12C00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
}
.subscribe button:hover{
  background-color: #B12C00;
  cursor: pointer;
}
.contactfoot p{
  margin-bottom: 8px;
  color: white;

}
.contactfoot i{
  margin-right: 8px;
  color: #B12C00;
}
.bottom{
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  border-top: 1px solid gray;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.bottom p{
  font-size: 14px;

}
.icons a{
  margin: 0 8px;
  font-size: 18px;
  transition: color 0.3s;

}
.icons a:hover{
  cursor: pointer;
  color: #B12C00;
}
